Repository milkbarsik/psycho-help: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: solve problems with scroll, focus, and ESLint warning
  src/features/news/news-card/NewsCard.module.scss
  src/features/news/news-card/index.tsx
  src/pages/news-item-page/index.tsx
Due: eslint --fix, prettier --write

fix: improve russian copy across website
  mok-server/services/db.js
  src/features/home/config/constants.tsx
  src/features/home/ui/1-greeting-block/greeting-block.tsx
  src/features/home/ui/3-features-block/features-block.tsx
  src/features/home/ui/5-calls-block/calls-block.tsx
  src/features/home/ui/old/chart-block/schedule-block.tsx
  src/features/therapist/info-block/InfoBlock.tsx
  src/features/therapists/ui/doctor/index.tsx
  src/pages/faq-page/constants.tsx
  src/pages/personal-cabinet/constants.ts
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/pages/resources-page/consts/translates.ts
  src/pages/resources-page/entities/articles/mocks.ts
  src/pages/resources-page/entities/polls/mocks.ts
  src/pages/resources-page/entities/tests/mocks.ts
Due: eslint --fix, prettier --write

fix
  src/entities/news/api/index.ts
  src/pages/news-page/components/news-card/NewsCard.module.css
  src/pages/news-page/components/news-card/news-card.tsx
  src/pages/news-page/components/telegram-banner/telegram-banner.module.css
  src/pages/news-page/news-page.module.css
Due: eslint --fix, prettier --write

Добавлена кнопка смены темы
  src/shared/assets/images/footer/moon.svg
  src/shared/assets/images/footer/sun.svg
  src/shared/hooks/useTheme.ts
  src/widgets/footer/footer.module.scss
  src/widgets/footer/footer.tsx
Due: eslint --fix, prettier --write

feat: add news-page (#55)
  mok-server/api-router.js
  mok-server/openapi.json
  mok-server/services/db.js
  src/app/router/routes.ts
  src/entities/news/api/queries.ts
  src/features/news/news-card/NewsCard.module.scss
  src/features/news/news-card/index.tsx
  src/features/news/news-list/NewsList.module.scss
  src/features/news/news-list/index.tsx
  src/pages/index.ts
  src/pages/news-item-page/NewsItemPage.module.scss
  src/pages/news-item-page/index.tsx
  src/pages/news-page/NewsPage.module.scss
  src/pages/news-page/index.tsx
  src/shared/api/types.ts
  src/shared/assets/images/news/chevron-left.svg
  src/shared/assets/images/news/items/1.jpg
  src/shared/assets/images/news/items/2.jpg
  src/shared/assets/images/news/items/3.jpg
  src/shared/assets/images/news/items/4.jpg
  src/shared/assets/images/news/items/5.jpg
  src/shared/assets/images/news/items/6.jpg
  src/shared/assets/images/news/items/7.jpg
  src/shared/assets/images/news/items/8.jpg
  src/shared/assets/images/news/news-hero-image.png
  src/shared/assets/images/news/news-link.svg
  src/shared/assets/images/news/telegram-icon.svg
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

fix (ui): resolve scrollbar overlapping page content (#58)
  src/app/App.module.scss
Due: prettier --write

fix: improve russian copy across website (#59)
  mok-server/services/db.js
  src/features/home/config/constants.tsx
  src/features/home/ui/1-greeting-block/greeting-block.tsx
  src/features/home/ui/3-features-block/features-block.tsx
  src/features/home/ui/5-calls-block/calls-block.tsx
  src/features/home/ui/old/chart-block/schedule-block.tsx
  src/features/therapist/info-block/InfoBlock.tsx
  src/features/therapists/ui/doctor/index.tsx
  src/pages/faq-page/constants.tsx
  src/pages/personal-cabinet/constants.ts
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/pages/resources-page/consts/translates.ts
  src/pages/resources-page/entities/articles/mocks.ts
  src/pages/resources-page/entities/polls/mocks.ts
  src/pages/resources-page/entities/tests/mocks.ts
Due: eslint --fix, prettier --write

chore: sync footer styles with main to resolve conflict
  src/widgets/footer/footer.module.css
Due: prettier --write

fixes
  src/widgets/footer/footer.module.css
Due: prettier --write

fix design and add variables
  src/widgets/appointment-module/styles/appointment-module.module.css
Due: prettier --write

-
  src/widgets/footer/footer.module.css
Due: prettier --write

fix
  src/widgets/footer/footer.module.css
Due: prettier --write

fixs imports
  src/features/home/ui/1-greeting-block/greeting-block.tsx
  src/features/therapists/ui/title/index.tsx
Due: eslint --fix, prettier --write

Добавлена тёмная тема для header
  src/app/App.module.scss
  src/features/auth/modal/modal.module.css
  src/widgets/header/header.module.css
Due: prettier --write

Добавлена тёмная тема для модального окна
  src/features/auth/modal/modal.module.css
Due: prettier --write

Добавлена тёмная тема для greetings-block
  src/features/home/ui/1-greeting-block/greeting-block.module.css
Due: prettier --write

Добавлена тёмная тема для reasons-block
  src/features/home/ui/reasons-block/reasons-block.module.css
  src/pages/home-page/home-page.module.css
Due: prettier --write

Сделана тёмная темная для features
  src/features/home/ui/3-features-block/features-block.module.scss
Due: prettier --write

Добавлена тёмная тема для schedule
  src/features/home/ui/chart-block/schedule-block.module.css
Due: prettier --write

Добавлена тёмная тема для calls
  src/features/home/ui/5-calls-block/calls-block.module.css
Due: prettier --write

Добавлена тёмная тема для кнопки наверх
  src/shared/ui/back-to-top/BackToTop.module.scss
Due: prettier --write

Добавлена тёмная тема для страницы doctor page
  src/features/therapists/ui/doctor-list/DoctorList.module.scss
  src/features/therapists/ui/doctor/Doctor.module.scss
  src/features/therapists/ui/title/Title.module.scss
Due: prettier --write

Добавлена тёмная тема для doctor-page
  src/features/therapist/info-block/InfoBlock.module.css
  src/pages/doctor-page/Doctor-page.module.css
Due: prettier --write

Добавлена тёмная тема для resources
  src/pages/article-page/ArticlePage.module.scss
  src/pages/resources-page/ResourcesPage.module.scss
  src/pages/resources-page/components/article-card/ArticleCard.module.scss
  src/pages/resources-page/components/poll-card/PollCard.module.scss
  src/pages/resources-page/components/test-card/TestCard.module.scss
  src/pages/test-page/Test-page.module.scss
  src/shared/ui/tabs/components/tab-item/TabItem.module.scss
Due: prettier --write

Добавлена тёмная тема для FAQ
  src/features/faq/ui/question.module.css
  src/features/faq/ui/question.tsx
  src/pages/faq-page/faq-page.module.css
Due: eslint --fix, prettier --write

fix: fix a lot of bugs in the header
  index.html
  src/app/App.module.scss
  src/features/auth/modal/modal.module.css
  src/features/auth/modal/modal.tsx
  src/shared/scss/base/_reset.scss
  src/widgets/header/header.module.css
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
  src/widgets/header/index.ts
  src/widgets/old/header/header.module.css
  src/widgets/old/header/header.tsx
Due: eslint --fix, prettier --write

fix: update footer styles for better responsiveness and layout adjustments
  src/widgets/footer/footer.module.scss
Due: prettier --write

Добавлена тёмная тема для cabinet, кроме модального окна
  src/features/auth/modal/modal.module.css
  src/features/personal-cabinet/ui/appointment-card/appointment-card.module.scss
  src/features/personal-cabinet/ui/greeting-card/greeting-card.module.scss
  src/features/personal-cabinet/ui/input-block/AppointmentForm.module.css
  src/features/personal-cabinet/ui/personal-data/PersonalData.module.scss
  src/features/personal-cabinet/ui/sidebar/sidebar.module.scss
  src/pages/personal-cabinet/personal-cabinet.module.scss
  src/widgets/header/header.module.css
Due: prettier --write

Добавлена тёмная тема для news-page
  src/features/news/news-card/NewsCard.module.scss
  src/pages/news-item-page/NewsItemPage.module.scss
  src/pages/news-page/NewsPage.module.scss
Due: prettier --write

fix: _reset.scss
  src/shared/scss/base/_reset.scss
  src/widgets/header/header.module.css
Due: prettier --write

fix: remove JS
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

fix: fix a lot of bugs in the header (#61)
  index.html
  src/app/App.module.scss
  src/features/auth/modal/modal.module.css
  src/features/auth/modal/modal.tsx
  src/shared/scss/base/_reset.scss
  src/widgets/header/header.module.css
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
  src/widgets/header/index.ts
  src/widgets/old/header/header.module.css
  src/widgets/old/header/header.tsx
Due: eslint --fix, prettier --write

Fix header import
  src/widgets/index.ts
Due: eslint --fix, prettier --write

feat(appointment): add modal components for registration and password management
  src/features/auth/modal/modal.module.css
  src/widgets/appointment-module/index.tsx
Due: eslint --fix, prettier --write

refactor(appointment): clean up code and remove unused styles
  src/widgets/appointment-module/index.tsx
  src/widgets/appointment-module/styles/appointment-module.module.css
Due: eslint --fix, prettier --write

fix: redesign header
  src/features/auth/modal/Auth.svg
  src/features/auth/modal/icons/Auth.svg
  src/pages/personal-cabinet/personal-cabinet.module.scss
  src/shared/assets/images/Logo-2.svg
  src/shared/assets/images/header/auth.svg
  src/shared/assets/images/header/bell.svg
  src/shared/assets/images/header/profile.svg
  src/shared/assets/images/login-icon.svg
  src/shared/assets/images/logo.svg
  src/shared/ui/back-to-top/BackToTop.module.scss
  src/widgets/footer/index.ts
  src/widgets/header/Logo.svg
  src/widgets/header/header.module.css
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
  src/widgets/index.ts
  src/widgets/old/footer/footer.module.css
  src/widgets/old/footer/footer.tsx
Due: eslint --fix, prettier --write

ci: update test workflow
  .github/workflows/run-tests.yml
Due: none

fix: add @media hover:
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

fix: tests in the header
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: Update api files
  .env.development
  mok-server/openapi.json
  src/entities/appointment/AppointmentDto.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,scss,md})
