Repository milkbarsik/psycho-help: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json,css,scss,md}": ["prettier --write"]
}

Initial cabinet rewrite
  package-lock.json
  package.json
  src/entities/auth/types/index.ts
  src/entities/role/api.ts
  src/entities/role/helpers.ts
  src/entities/role/types.ts
  src/features/auth/api/auth-api.ts
  src/features/personal-cabinet/ui/personal-data/PersonalData.module.scss
  src/features/personal-cabinet/ui/personal-data/PersonalData.tsx
  src/features/personal-cabinet/ui/sidebar/Sidebar.tsx
  src/pages/personal-cabinet/config/tabs.ts
  src/pages/personal-cabinet/personal-cabinet.module.scss
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/pages/personal-cabinet/ui/AppointmentsPage.module.scss
  src/pages/personal-cabinet/ui/AppointmentsPage.tsx
  src/pages/personal-cabinet/ui/dashboard/AdminDashboard.tsx
  src/pages/personal-cabinet/ui/dashboard/Dashboard.module.scss
  src/pages/personal-cabinet/ui/dashboard/Dashboard.tsx
  src/pages/personal-cabinet/ui/dashboard/PsychologistDashboard.tsx
  src/pages/personal-cabinet/ui/dashboard/UserDashboard.tsx
  src/shared/api/types.ts
Due: eslint --fix, prettier --write

refactor: централизация управления модалками и рефакторинг стилей
  src/app/App.tsx
  src/app/context/index.ts
  src/app/context/provider.tsx
  src/app/provider/AuthModalProvider.tsx
  src/features/auth/modal/modal.tsx
  src/features/home/ui/1-greeting-block/greeting-block.tsx
  src/widgets/appointment-module/index.tsx
  src/widgets/appointment-module/styles/appointment-module.module.css
Due: eslint --fix, prettier --write

Reflect role changes on mock server
  mok-server/api-router.js
  mok-server/routes/roles.js
  mok-server/routes/users.js
  mok-server/services/db.js
  mok-server/services/user.js
Due: prettier --write

Add role based badges support
  src/features/personal-cabinet/ui/sidebar/Sidebar.tsx
  src/features/personal-cabinet/ui/sidebar/sidebar.module.scss
  src/pages/personal-cabinet/personal-cabinet.module.scss
  src/pages/personal-cabinet/personal-cabinet.tsx
Due: eslint --fix, prettier --write

Enforce single source of truth for main component
  src/pages/personal-cabinet/config/tabs.ts
  src/pages/personal-cabinet/config/tabs.tsx
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/pages/personal-cabinet/ui/PlaceholderComponent.tsx
Due: eslint --fix, prettier --write

fix: remove duplicates in routes
  src/app/router/routes.ts
  src/widgets/header/header.module.css
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

fix: correct order in header
  src/app/router/routes.ts
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

fix: simplify routes
  src/app/router/AppRouter.tsx
  src/app/router/routes.ts
  src/pages/index.ts
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

fix: replace getByRole with getByTestId and remove new header design)))
  src/app/router/routes.ts
  src/widgets/header/header.module.css
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

fix: correct sidebar menu
  src/widgets/header/header.module.css
Due: prettier --write

fix: remove hardcode from --header-height
  src/widgets/header/header.module.css
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

refactor(routing,header)!: simplify routes && header bug fixes (#62)
  src/app/router/AppRouter.tsx
  src/app/router/routes.ts
  src/features/auth/modal/Auth.svg
  src/features/auth/modal/icons/Auth.svg
  src/pages/index.ts
  src/pages/personal-cabinet/personal-cabinet.module.scss
  src/shared/assets/images/Logo-2.svg
  src/shared/assets/images/header/auth.svg
  src/shared/assets/images/header/bell.svg
  src/shared/assets/images/header/profile.svg
  src/shared/assets/images/login-icon.svg
  src/shared/assets/images/logo.svg
  src/shared/ui/back-to-top/BackToTop.module.scss
  src/widgets/footer/index.ts
  src/widgets/header/Logo.svg
  src/widgets/header/header.module.css
  src/widgets/header/header.test.tsx
  src/widgets/header/header.tsx
  src/widgets/index.ts
  src/widgets/old/footer/footer.module.css
  src/widgets/old/footer/footer.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

BASE
  .gitignore
  mok-server/routes/appointments.js
  mok-server/services/appointments.js
  mok-server/services/db.js
  src/app/router/routes.ts
  src/entities/appointment/api/index.ts
  src/entities/appointment/types/index.ts
  src/features/personal-cabinet/model/PsychologistAppointmentsView.ts
  src/features/personal-cabinet/model/personal-cabinet-tab.ts
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.module.scss
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.tsx
  src/pages/personal-cabinet/ui/AppointmentsPage.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.module.scss
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

feat: add Psychologist Appointments
  .env.development
  mok-server/routes/appointments.js
  mok-server/services/appointments.js
  mok-server/services/db.js
  package.json
  src/app/router/routes.ts
  src/entities/application/api.ts
  src/entities/application/types.ts
  src/entities/appointment/AppointmentDto.ts
  src/entities/appointment/api/index.ts
  src/entities/appointment/types/index.ts
  src/features/personal-cabinet/model/PsychologistAppointmentsView.ts
  src/features/personal-cabinet/model/appointment.ts
  src/features/personal-cabinet/ui/appointment-card/AppointmentCard.tsx
  src/features/personal-cabinet/ui/calendar/calendar.tsx
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
  src/pages/personal-cabinet/constants.ts
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.module.scss
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.module.scss
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.tsx
  src/pages/personal-cabinet/ui/dashboard/UserDashboard.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Fixes, Edits and related Чем дальше в лес, тем ближе скибиди доб йес йес
  .gitignore
  mok-server/openapi.json
  src/entities/application/api.ts
  src/entities/application/types.ts
  src/entities/auth/types/index.ts
  src/features/auth/api/auth-api.ts
  src/features/auth/api/useAuth.test.ts
  src/features/personal-cabinet/model/application.ts
  src/features/personal-cabinet/ui/appointment-card/AppointmentCard.tsx
  src/features/personal-cabinet/ui/appointment-card/appointment-card.module.scss
  src/features/personal-cabinet/ui/input-block/AppointmentForm.module.css
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.module.scss
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.module.scss
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.tsx
  src/pages/personal-cabinet/ui/dashboard/Dashboard.module.scss
  src/pages/personal-cabinet/ui/dashboard/Dashboard.tsx
  src/pages/personal-cabinet/ui/dashboard/PsychologistDashboard.module.scss
  src/pages/personal-cabinet/ui/dashboard/PsychologistDashboard.tsx
  src/pages/personal-cabinet/ui/dashboard/UserDashboard.tsx
  src/shared/ui/PageLoader.module.css
  src/shared/ui/PageLoader.tsx
Due: eslint --fix, prettier --write

Small calendar adjustment
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.module.scss
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
Due: eslint --fix, prettier --write

Create appointment with application
  src/entities/appointment/api/index.ts
  src/pages/personal-cabinet/ui/dashboard/UserDashboard.tsx
Due: eslint --fix, prettier --write

Temporary remove husky
  .husky/pre-commit
Due: none

refactor(tests): improve test setup and footer component tests.
  src/features/auth/api/useAuth.test.ts
  src/tests/setup.ts
  src/widgets/footer/footer.test.tsx
  src/widgets/footer/footer.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

Fix router duplication
  src/app/router/routes.ts
Due: eslint --fix, prettier --write

Замененён частично hex
  src/app/App.module.scss
  src/features/auth/modal/modal.module.css
  src/features/home/ui/1-greeting-block/greeting-block.module.css
  src/features/home/ui/3-features-block/features-block.module.scss
  src/shared/scss/base/_globals.scss
Due: prettier --write

Заменён частично rgba
  src/features/auth/modal/modal.module.css
  src/features/home/ui/1-greeting-block/greeting-block.module.css
  src/features/home/ui/3-features-block/features-block.module.scss
  src/features/home/ui/5-calls-block/calls-block.module.css
  src/features/home/ui/chart-block/schedule-block.module.css
  src/features/home/ui/reasons-block/reasons-block.module.css
  src/features/therapists/ui/doctor/Doctor.module.scss
  src/features/therapists/ui/title/Title.module.scss
  src/pages/news-page/NewsPage.module.scss
  src/shared/ui/back-to-top/BackToTop.module.scss
  src/shared/ui/button/Button.module.scss
  src/shared/ui/loader/loader.module.css
  src/widgets/footer/footer.module.scss
Due: prettier --write

Заменены все цвета (white, blue и т.д.)
  src/features/auth/modal/modal-login.module.css
  src/features/auth/modal/modal-registration.module.css
  src/features/auth/modal/modal.module.css
  src/features/home/ui/1-greeting-block/greeting-block.module.css
  src/features/home/ui/old/doctors-block/doctors-block.module.css
  src/features/home/ui/old/greeting-block/greeting-block.module.css
  src/features/personal-cabinet/ui/input-block/AppointmentForm.module.css
  src/features/therapists/ui/doctor/Doctor.module.scss
  src/shared/ui/button/Button.module.scss
Due: prettier --write

feat: start redesign psychologist appointments
  .gitignore
  README.md
  src/entities/appointment/AppointmentDto.ts
  src/features/personal-cabinet/model/PsychologistAppointmentsView.ts
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.module.scss
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

feat: still redesigning psychologist appointments =(
  src/entities/appointment/api/index.ts
  src/features/personal-cabinet/model/PsychologistAppointmentsView.ts
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.module.scss
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistApplicationsModal.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointmentsConstants.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointmentsModal.tsx
Due: eslint --fix, prettier --write

feat: application cancellation && partial appointment cancellation
  src/entities/application/api.ts
  src/entities/application/types.ts
  src/entities/appointment/api/index.ts
  src/features/personal-cabinet/ui/appointment-card/AppointmentCard.tsx
  src/features/personal-cabinet/ui/appointment-card/appointment-card.module.scss
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.module.scss
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.module.scss
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.tsx
  src/pages/personal-cabinet/ui/dashboard/UserDashboard.tsx
Due: eslint --fix, prettier --write

chore: update openapi
  mok-server/openapi.json
Due: prettier --write

chore: format files
  src/entities/application/api.ts
  src/entities/appointment/api/index.ts
  src/features/personal-cabinet/ui/appointment-card/AppointmentCard.tsx
  src/features/personal-cabinet/ui/appointment-card/appointment-card.module.scss
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.module.scss
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.module.scss
  src/pages/personal-cabinet/ui/dashboard/UserDashboard.tsx
Due: eslint --fix, prettier --write

feat: user application management (#64)
  mok-server/openapi.json
  src/entities/application/api.ts
  src/entities/application/types.ts
  src/entities/appointment/api/index.ts
  src/features/personal-cabinet/ui/appointment-card/AppointmentCard.tsx
  src/features/personal-cabinet/ui/appointment-card/appointment-card.module.scss
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.module.scss
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.module.scss
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.tsx
  src/pages/personal-cabinet/ui/dashboard/UserDashboard.tsx
Due: eslint --fix, prettier --write

fix: user can cancel application without approval
  src/pages/personal-cabinet/ui/dashboard/UserDashboard.tsx
Due: eslint --fix, prettier --write

Заменены ещё некоторые цвета
  src/features/auth/modal/modal.module.css
  src/features/home/ui/3-features-block/features-block.module.scss
  src/features/home/ui/5-calls-block/calls-block.module.css
  src/shared/ui/back-to-top/BackToTop.module.scss
Due: prettier --write

3
  src/entities/application/api.ts
  src/entities/application/types.ts
  src/entities/appointment/api/index.ts
  src/entities/appointment/types/index.ts
  src/features/personal-cabinet/model/PsychologistAppointmentsView.ts
  src/features/personal-cabinet/ui/PsychologistAppointmentsModal.tsx
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.module.scss
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.module.scss
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistApplicationsModal.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.module.scss
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointmentsConstants.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointmentsModal.tsx
Due: eslint --fix, prettier --write

4
  src/entities/appointment/api/index.ts
  src/entities/auth/api/api.ts
  src/entities/auth/api/queries.ts
  src/features/personal-cabinet/ui/PsychologistAppointmentsModal.tsx
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.module.scss
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.module.scss
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.module.scss
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointmentsConstants.tsx
Due: eslint --fix, prettier --write

!!! Этот коммит, возможно, всё сломает, но мне кажется, что так правильнее !!!
  src/features/personal-cabinet/model/PsychologistView.ts
  src/features/personal-cabinet/ui/PsychologistRejectModal.tsx
  src/features/personal-cabinet/ui/psychologist-list-filters/PsychologistListFilters.module.scss
  src/features/personal-cabinet/ui/psychologist-list-filters/PsychologistListFilters.tsx
  src/pages/personal-cabinet/config/tabs.tsx
  src/pages/personal-cabinet/constants.ts
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/pages/personal-cabinet/psychologist-application-page/PsychologistApplicationPage.tsx
  src/pages/personal-cabinet/psychologist-appointment-page/PsychologistAppointmentPage.tsx
  src/pages/personal-cabinet/ui/applications/Applications.module.scss
  src/pages/personal-cabinet/ui/applications/Applications.tsx
  src/pages/personal-cabinet/ui/applications/PsychologistApplications.module.scss
  src/pages/personal-cabinet/ui/applications/PsychologistApplications.tsx
  src/pages/personal-cabinet/ui/appointments/Appointments.module.scss
  src/pages/personal-cabinet/ui/appointments/Appointments.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointmentsConstants.tsx
Due: eslint --fix, prettier --write

фильтры
  src/features/personal-cabinet/model/PsychologistView.ts
  src/features/personal-cabinet/ui/psychologist-list-filters/PsychologistListFilters.module.scss
  src/features/personal-cabinet/ui/psychologist-list-filters/PsychologistListFilters.tsx
  src/pages/personal-cabinet/ui/applications/PsychologistApplications.tsx
  src/pages/personal-cabinet/ui/appointments/PsychologistAppointments.tsx
Due: eslint --fix, prettier --write
