Repository milkbarsik/psycho-help: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(sytle): line and letter spacing, rounding
  src/pages/test-page/Test-page.module.scss
Due: prettier --write

ну сколько можно
  src/pages/test-page/Test-page.module.scss
Due: prettier --write

feat: test implementation (#40)
  src/app/router/routes.ts
  src/pages/index.ts
  src/pages/resources-page/entities/tests/index.tsx
  src/pages/resources-page/entities/tests/mocks.ts
  src/pages/resources-page/entities/tests/models.ts
  src/pages/test-page/Test-page.module.scss
  src/pages/test-page/index.tsx
  src/pages/test-page/mocks.ts
  src/pages/test-page/model.ts
Due: eslint --fix, prettier --write

Тесты
  src/features/auth/api/useAuth.test.ts
  src/shared/api/useFetch.ts
  src/widgets/footer/footer.test.tsx
  src/widgets/header/header.test.tsx
Due: eslint --fix, prettier --write

e2e
  package-lock.json
  package.json
  playwright.config.ts
  src/app/router/routes.ts
  src/pages/index.ts
  src/pages/resources-page/components/test-card/index.tsx
  src/pages/resources-page/entities/articles/index.tsx
  src/pages/resources-page/entities/tests/index.tsx
  src/pages/resources-page/entities/tests/mocks.ts
  src/pages/resources-page/entities/tests/models.ts
  src/pages/test-page/Test-page.module.scss
  src/pages/test-page/index.tsx
  src/pages/test-page/mocks.ts
  src/pages/test-page/model.ts
  test-results/resources-Проверка-статей/trace.zip
  test-results/resources-Проверка-тестов/trace.zip
  tests/e2e/resources.spec.ts
Due: eslint --fix, prettier --write

Настройка CI
  .github/workflows/playwright.yml
  package.json
  test-results/resources-Проверка-статей/trace.zip
  test-results/resources-Проверка-тестов/trace.zip
  tests/e2e/resources.spec.ts
Due: eslint --fix, prettier --write

ready
  src/features/home/ui/1-greeting-block/greeting-block.module.css
  src/features/home/ui/1-greeting-block/greeting-block.tsx
  src/features/home/ui/3-features-block/features-block.module.scss
  src/features/home/ui/3-features-block/features-block.tsx
  src/pages/resources-page/entities/articles/index.tsx
  src/pages/resources-page/entities/articles/mocks.ts
  src/pages/resources-page/entities/polls/index.tsx
  src/pages/resources-page/entities/polls/mocks.ts
  src/pages/resources-page/entities/tests/index.tsx
  src/pages/resources-page/entities/tests/mocks.ts
  src/shared/assets/images/footer/logo.svg
  src/shared/ui/button/Button.module.scss
  src/shared/ui/button/index.tsx
  src/widgets/footer/footer.module.scss
  src/widgets/footer/footer.tsx
Due: eslint --fix, prettier --write

Исправление CI
  playwright.config.ts
  test-results/resources-Проверка-статей/trace.zip
  test-results/resources-Проверка-тестов/trace.zip
Due: eslint --fix, prettier --write

Исправление CI
  .github/workflows/playwright.yml
Due: none

ui fixes
  src/features/therapists/ui/doctor-list/DoctorList.module.css
  src/features/therapists/ui/doctor/Doctor.module.css
  src/features/therapists/ui/doctor/index.tsx
  src/features/therapists/ui/title/Title.module.css
Due: eslint --fix, prettier --write

enable strict TS, ban any/@ts-ignore, add lint-staged & husky
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Upstream bug fix (#42)
  src/features/home/ui/1-greeting-block/greeting-block.module.css
  src/features/home/ui/1-greeting-block/greeting-block.tsx
  src/features/home/ui/3-features-block/features-block.module.scss
  src/features/home/ui/3-features-block/features-block.tsx
  src/pages/resources-page/entities/articles/index.tsx
  src/pages/resources-page/entities/articles/mocks.ts
  src/pages/resources-page/entities/polls/index.tsx
  src/pages/resources-page/entities/polls/mocks.ts
  src/pages/resources-page/entities/tests/index.tsx
  src/pages/resources-page/entities/tests/mocks.ts
  src/shared/assets/images/footer/logo.svg
  src/shared/ui/button/Button.module.scss
  src/shared/ui/button/index.tsx
  src/widgets/footer/footer.module.scss
  src/widgets/footer/footer.tsx
Due: eslint --fix, prettier --write

Фикс
  .gitignore
  test-results/resources-Проверка-статей/trace.zip
  test-results/resources-Проверка-тестов/trace.zip
Due: none

Исправление тестов
  tests/e2e/resources.spec.ts
Due: eslint --fix, prettier --write

Исправление тестов && e2e тестирование (#41)
  .github/workflows/playwright.yml
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  src/features/auth/api/useAuth.test.ts
  src/pages/resources-page/components/test-card/index.tsx
  src/pages/resources-page/entities/articles/index.tsx
  src/pages/resources-page/entities/tests/index.tsx
  src/pages/resources-page/entities/tests/mocks.ts
  src/shared/api/useFetch.ts
  src/widgets/footer/footer.test.tsx
  src/widgets/header/header.test.tsx
  tests/e2e/resources.spec.ts
Due: eslint --fix, prettier --write

fix profile btn & fix doctors page
  .env.development
  src/features/therapists/ui/doctor-list/DoctorList.module.css
  src/features/therapists/ui/doctor-list/DoctorList.module.scss
  src/features/therapists/ui/doctor-list/index.tsx
  src/features/therapists/ui/doctor/Doctor.module.css
  src/features/therapists/ui/doctor/Doctor.module.scss
  src/features/therapists/ui/doctor/index.tsx
  src/features/therapists/ui/title/Title.module.scss
  src/features/therapists/ui/title/index.tsx
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

upd env
  .env.development
Due: none

RawDoctorPage
  src/features/therapist/info-block/InfoBlock.module.css
  src/features/therapist/info-block/InfoBlock.tsx
  src/features/therapist/reviews/TherapistReviews.tsx
  src/pages/doctor-page/Doctor-page.module.css
  src/pages/doctor-page/Doctor-page.tsx
  src/pages/doctor-page/constants.ts
Due: eslint --fix, prettier --write

Presumably fix undefined request body
  mok-server/server.js
Due: prettier --write

Remove env comment
  .env.development
Due: none

Audit fix
  package-lock.json
  package.json
Due: prettier --write

Fix some most obvious margins
  src/features/therapists/ui/doctor-list/DoctorList.module.scss
  src/features/therapists/ui/title/Title.module.scss
Due: prettier --write

Fix/bugs 2 (#44)
  src/features/therapists/ui/doctor-list/DoctorList.module.css
  src/features/therapists/ui/doctor-list/DoctorList.module.scss
  src/features/therapists/ui/doctor-list/index.tsx
  src/features/therapists/ui/doctor/Doctor.module.css
  src/features/therapists/ui/doctor/Doctor.module.scss
  src/features/therapists/ui/doctor/index.tsx
  src/features/therapists/ui/title/Title.module.scss
  src/features/therapists/ui/title/index.tsx
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

Remaining fixes
  eslint.config.js
  package.json
Due: prettier --write

Update husky
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

Fix package-lock.json
  package-lock.json
Due: prettier --write

enable strict TS, ban any/@ts-ignore, add lint-staged & husky
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Update husky
  package-lock.json
Due: prettier --write

enable strict TS, ban any/@ts-ignore, add lint-staged & husky (#23)
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

RawDoctorPage (#45)
  src/features/therapist/info-block/InfoBlock.module.css
  src/features/therapist/info-block/InfoBlock.tsx
  src/features/therapist/reviews/TherapistReviews.tsx
  src/pages/doctor-page/Doctor-page.module.css
  src/pages/doctor-page/Doctor-page.tsx
  src/pages/doctor-page/constants.ts
Due: eslint --fix, prettier --write

start refactor header
  src/features/auth/modal/modal.module.css
  src/widgets/Burger.svg
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

feat: refactor header and add burger menu
  src/features/auth/modal/modal.module.css
  src/features/auth/modal/modal.tsx
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,scss,md})
