Repository milkbarsik/psycho-help: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix comments
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/theme/index.ts
  src/app/utils/index.ts
  src/entities/appointment/enums/index.ts
  src/entities/appointment/types/index.ts
  src/features/faq/ui/questions-list.tsx
  src/features/personal-cabinet/model/appointment.ts
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
  src/features/therapists/ui/doctor-list/index.tsx
  src/pages/home-page/home-page.tsx
  src/pages/personal-cabinet/constants.ts
  src/shared/scss/_root.scss
  src/shared/ui/button/Button.module.scss
  src/shared/ui/button/index.tsx
  tsconfig.node.json
Due: eslint --fix, prettier --write

articles finish
  src/app/router/routes.ts
  src/pages/index.ts
  src/pages/resources-page/ResourcesPage.module.scss
  src/pages/resources-page/components/article-card/ArticleCard.module.scss
  src/pages/resources-page/components/article-card/index.tsx
  src/pages/resources-page/components/index.ts
  src/pages/resources-page/consts/entities.ts
  src/pages/resources-page/consts/index.ts
  src/pages/resources-page/consts/translates.ts
  src/pages/resources-page/entities/articles/Articles.module.scss
  src/pages/resources-page/entities/articles/index.tsx
  src/pages/resources-page/entities/articles/mocks.ts
  src/pages/resources-page/entities/articles/models.ts
  src/pages/resources-page/index.tsx
  src/shared/assets/images/resources/main.png
  src/shared/scss/_variables.scss
  src/shared/scss/mixins/_font-sizes.scss
  src/shared/scss/mixins/media-breakpoints.scss
  src/shared/scss/mixins/utils.scss
  src/shared/ui/tabs/Tabs.module.scss
  src/shared/ui/tabs/components/tab-item/TabItem.module.scss
  src/shared/ui/tabs/components/tab-item/TabItem.tsx
  src/shared/ui/tabs/components/tab-item/index.ts
  src/shared/ui/tabs/index.tsx
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

feat(poll, test): a section of tests and surveys has been added to the page
  src/pages/resources-page/components/index.ts
  src/pages/resources-page/components/poll-card/PollCard.module.scss
  src/pages/resources-page/components/poll-card/index.tsx
  src/pages/resources-page/components/test-card/TestCard.module.scss
  src/pages/resources-page/components/test-card/index.tsx
  src/pages/resources-page/consts/translates.ts
  src/pages/resources-page/entities/polls/Polls.module.scss
  src/pages/resources-page/entities/polls/index.tsx
  src/pages/resources-page/entities/polls/mocks.ts
  src/pages/resources-page/entities/polls/models.ts
  src/pages/resources-page/entities/tests/Tests.module.scss
  src/pages/resources-page/entities/tests/index.tsx
  src/pages/resources-page/entities/tests/mocks.ts
  src/pages/resources-page/entities/tests/models.ts
  src/pages/resources-page/index.tsx
Due: eslint --fix, prettier --write

Add css variables, basic helpers, fonts
  src/shared/assets/fonts/Geist-Italic[wght].woff2
  src/shared/assets/fonts/Geist[wght].woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-500.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-500italic.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-600.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-600italic.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-italic.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-regular.woff2
  src/shared/scss/_root.scss
  src/shared/scss/_variables.scss
  src/shared/scss/abstracts/_breakpoints.scss
  src/shared/scss/abstracts/_colors.scss
  src/shared/scss/base/_globals.scss
  src/shared/scss/base/_index.scss
  src/shared/scss/base/_reset.scss
  src/shared/scss/base/_typography.scss
  src/shared/scss/index.scss
Due: prettier --write

Revert invalid css varaibles to literals
  src/features/therapists/ui/doctor-list/DoctorList.module.css
  src/features/therapists/ui/doctor/Doctor.module.css
  src/features/therapists/ui/title/Title.module.css
Due: prettier --write

Fix docstrings
  src/shared/scss/base/_globals.scss
  src/shared/scss/index.scss
Due: prettier --write

Переменные css && scss (#32)
  src/features/therapists/ui/doctor-list/DoctorList.module.css
  src/features/therapists/ui/doctor/Doctor.module.css
  src/features/therapists/ui/title/Title.module.css
  src/shared/assets/fonts/Geist-Italic[wght].woff2
  src/shared/assets/fonts/Geist[wght].woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-500.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-500italic.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-600.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-600italic.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-italic.woff2
  src/shared/assets/fonts/roboto-v49-cyrillic_latin-regular.woff2
  src/shared/scss/_root.scss
  src/shared/scss/_variables.scss
  src/shared/scss/abstracts/_breakpoints.scss
  src/shared/scss/abstracts/_colors.scss
  src/shared/scss/base/_globals.scss
  src/shared/scss/base/_index.scss
  src/shared/scss/base/_reset.scss
  src/shared/scss/base/_typography.scss
  src/shared/scss/index.scss
Due: prettier --write

enable strict TS, ban any/@ts-ignore, add lint-staged & husky
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Правки
  src/features/home/ui/1-greeting-block/greeting-block.module.css
  src/features/home/ui/3-features-block/features-block.module.css
  src/features/home/ui/3-features-block/features-block.tsx
  src/features/home/ui/3-features-block/img/1/features-desktop.png
  src/features/home/ui/3-features-block/img/1/features-mobile.png
  src/features/home/ui/3-features-block/img/1/features-tablet.png
  src/features/home/ui/3-features-block/img/2/features-desktop.png
  src/features/home/ui/3-features-block/img/2/features-mobile.png
  src/features/home/ui/3-features-block/img/2/features-tablet.png
  src/features/home/ui/5-calls-block/calls-block.module.css
  src/features/home/ui/chart-block/img/schedule-desktop.png
  src/features/home/ui/chart-block/img/schedule-mobile.png
  src/features/home/ui/chart-block/img/schedule-tablet.png
  src/features/home/ui/chart-block/schedule-block.module.css
  src/features/home/ui/chart-block/schedule-block.tsx
  src/pages/home-page/home-page.module.css
  src/widgets/header/header.module.css
Due: eslint --fix, prettier --write

Add appointments && Sync with backend changes
  .env.development
  mok-server/api-router.js
  mok-server/openapi.json
  mok-server/routes/appointments.js
  mok-server/routes/users.js
  mok-server/server.js
  mok-server/services/appointments.js
  mok-server/services/db.js
  mok-server/services/user.js
  package-lock.json
  package.json
Due: prettier --write

Создание мок сервера (#33)
  .env.development
  mok-server/api-router.js
  mok-server/lib/auth.js
  mok-server/openapi.json
  mok-server/routes/appointments.js
  mok-server/routes/users.js
  mok-server/server.js
  mok-server/services/appointments.js
  mok-server/services/db.js
  mok-server/services/user.js
  package-lock.json
  package.json
Due: prettier --write

fixes
  src/pages/resources-page/ResourcesPage.module.scss
  src/pages/resources-page/components/article-card/ArticleCard.module.scss
  src/pages/resources-page/components/poll-card/PollCard.module.scss
  src/pages/resources-page/components/test-card/TestCard.module.scss
  src/shared/scss/mixins/media-breakpoints.scss
  src/shared/scss/mixins/utils.scss
  src/shared/ui/tabs/components/tab-item/TabItem.module.scss
Due: prettier --write

rm mixins
  src/pages/resources-page/components/test-card/TestCard.module.scss
  src/shared/scss/mixins/_font-sizes.scss
  src/shared/scss/mixins/media-breakpoints.scss
  src/shared/ui/tabs/Tabs.module.scss
Due: prettier --write

fix issues
  src/entities/appointment/api/index.ts
  src/entities/auth/api/queries.ts
  src/entities/therapist/api/queries.ts
  src/shared/ui/button/Button.module.scss
Due: eslint --fix, prettier --write

mobile
  src/features/home/ui/chart-block/schedule-block.module.css
  src/features/home/ui/chart-block/schedule-block.tsx
  src/features/home/ui/features-block/features-block.module.css
  src/features/home/ui/features-block/features-block.tsx
  src/features/home/ui/greeting-block/greeting-block.module.css
  src/features/home/ui/information-block/information-block.module.css
  src/features/home/ui/reasons-block/reasons-block.module.css
Due: eslint --fix, prettier --write

Фикс бага с серым фоном, заменён на белый, так же отображение одного блока на мобилке(426px), так же галерея фикс подписей и фото
  src/app/App.module.scss
  src/features/home/config/constants.tsx
  src/features/home/ui/3-features-block/features-block.module.css
  src/features/home/ui/chart-block/schedule-block.module.css
  src/features/home/ui/reasons-block/reasons-block.module.css
  src/features/home/ui/reasons-block/reasons-block.tsx
Due: eslint --fix, prettier --write

fix: change to pull request #31
  src/pages/resources-page/components/article-card/ArticleCard.module.scss
  src/pages/resources-page/components/poll-card/PollCard.module.scss
  src/pages/resources-page/components/test-card/TestCard.module.scss
  src/pages/resources-page/entities/articles/Articles.module.scss
  src/pages/resources-page/entities/polls/Polls.module.scss
  src/pages/resources-page/entities/polls/index.tsx
  src/pages/resources-page/entities/tests/Tests.module.scss
  src/pages/resources-page/entities/tests/index.tsx
  src/pages/resources-page/index.tsx
  src/shared/scss/base/_typography.scss
Due: eslint --fix, prettier --write

Feat/useful materials (#31)
  src/app/router/routes.ts
  src/pages/index.ts
  src/pages/resources-page/ResourcesPage.module.scss
  src/pages/resources-page/components/article-card/ArticleCard.module.scss
  src/pages/resources-page/components/article-card/index.tsx
  src/pages/resources-page/components/index.ts
  src/pages/resources-page/components/poll-card/PollCard.module.scss
  src/pages/resources-page/components/poll-card/index.tsx
  src/pages/resources-page/components/test-card/TestCard.module.scss
  src/pages/resources-page/components/test-card/index.tsx
  src/pages/resources-page/consts/entities.ts
  src/pages/resources-page/consts/index.ts
  src/pages/resources-page/consts/translates.ts
  src/pages/resources-page/entities/articles/Articles.module.scss
  src/pages/resources-page/entities/articles/index.tsx
  src/pages/resources-page/entities/articles/mocks.ts
  src/pages/resources-page/entities/articles/models.ts
  src/pages/resources-page/entities/polls/Polls.module.scss
  src/pages/resources-page/entities/polls/index.tsx
  src/pages/resources-page/entities/polls/mocks.ts
  src/pages/resources-page/entities/polls/models.ts
  src/pages/resources-page/entities/tests/Tests.module.scss
  src/pages/resources-page/entities/tests/index.tsx
  src/pages/resources-page/entities/tests/mocks.ts
  src/pages/resources-page/entities/tests/models.ts
  src/pages/resources-page/index.tsx
  src/shared/assets/images/resources/main.png
  src/shared/scss/abstracts/_breakpoints.scss
  src/shared/scss/base/_typography.scss
  src/shared/scss/mixins/utils.scss
  src/shared/ui/button/Button.module.scss
  src/shared/ui/tabs/Tabs.module.scss
  src/shared/ui/tabs/components/tab-item/TabItem.module.scss
  src/shared/ui/tabs/components/tab-item/TabItem.tsx
  src/shared/ui/tabs/components/tab-item/index.ts
  src/shared/ui/tabs/index.tsx
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

auth and reg
  src/features/auth/modal/icons/Auth.svg
  src/features/auth/modal/icons/Eye.svg
  src/features/auth/modal/icons/EyeOff.svg
  src/features/auth/modal/modal-change-password.tsx
  src/features/auth/modal/modal-forgot-password.tsx
  src/features/auth/modal/modal-login.tsx
  src/features/auth/modal/modal-registration.tsx
  src/features/auth/modal/modal.module.css
  src/features/auth/modal/modal.tsx
Due: eslint --fix, prettier --write

Relax, take it eeeasy
  src/features/auth/modal/modal.module.css
Due: prettier --write

Форма регистрации и входа (#36)
  src/features/auth/modal/icons/Auth.svg
  src/features/auth/modal/icons/Eye.svg
  src/features/auth/modal/icons/EyeOff.svg
  src/features/auth/modal/modal-change-password.tsx
  src/features/auth/modal/modal-forgot-password.tsx
  src/features/auth/modal/modal-login.tsx
  src/features/auth/modal/modal-registration.tsx
  src/features/auth/modal/modal.module.css
  src/features/auth/modal/modal.tsx
Due: eslint --fix, prettier --write

Fix tablet header sizing
  src/shared/scss/base/_typography.scss
Due: prettier --write

Refactor faq page
  mok-server/server.js
  src/features/faq/ui/question.module.css
  src/features/faq/ui/question.tsx
  src/features/faq/ui/questions-list.module.css
  src/features/faq/ui/questions-list.tsx
  src/pages/faq-page/constants.tsx
  src/pages/faq-page/faq-page.module.css
  src/pages/faq-page/faq-page.tsx
  src/shared/scss/base/_typography.scss
Due: eslint --fix, prettier --write

Remove unused svg asset
  src/shared/assets/images/main/question/active-button.svg
Due: none

Refactor/faq && Bug fixes (#37)
  mok-server/server.js
  src/features/faq/ui/question.module.css
  src/features/faq/ui/question.tsx
  src/features/faq/ui/questions-list.module.css
  src/features/faq/ui/questions-list.tsx
  src/pages/faq-page/constants.tsx
  src/pages/faq-page/faq-page.module.css
  src/pages/faq-page/faq-page.tsx
  src/shared/assets/images/main/question/active-button.svg
  src/shared/scss/base/_typography.scss
Due: eslint --fix, prettier --write

add article page
  src/app/router/routes.ts
  src/pages/article-page/ArticlePage.module.scss
  src/pages/article-page/constants.ts
  src/pages/article-page/index.tsx
  src/pages/article-page/mocks/index.ts
  src/pages/article-page/models.ts
  src/pages/resources-page/entities/articles/Articles.module.scss
  src/pages/resources-page/entities/articles/index.tsx
  src/shared/assets/images/resources/articleCover.png
  src/shared/ui/button/Button.module.scss
  src/shared/ui/button/index.tsx
Due: eslint --fix, prettier --write

fix btn
  src/shared/ui/button/index.tsx
Due: eslint --fix, prettier --write

ReadMeSupplement
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

ReadMeSupplement (#39)
  README.md
Due: prettier --write

feat: test implementation
  src/app/router/routes.ts
  src/pages/index.ts
  src/pages/resources-page/entities/tests/index.tsx
  src/pages/resources-page/entities/tests/mocks.ts
  src/pages/resources-page/entities/tests/models.ts
  src/pages/test-page/Test-page.module.scss
  src/pages/test-page/index.tsx
  src/pages/test-page/mocks.ts
  src/pages/test-page/model.ts
Due: eslint --fix, prettier --write

fix
  src/pages/article-page/ArticlePage.module.scss
  src/pages/article-page/index.tsx
  src/pages/article-page/mocks/index.ts
  src/pages/resources-page/entities/articles/Articles.module.scss
Due: eslint --fix, prettier --write

bruh
  src/pages/article-page/ArticlePage.module.scss
Due: prettier --write

Feat/article page (#38)
  src/app/router/routes.ts
  src/pages/article-page/ArticlePage.module.scss
  src/pages/article-page/constants.ts
  src/pages/article-page/index.tsx
  src/pages/article-page/mocks/index.ts
  src/pages/article-page/models.ts
  src/pages/resources-page/entities/articles/index.tsx
  src/shared/assets/images/resources/articleCover.png
  src/shared/ui/button/Button.module.scss
  src/shared/ui/button/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,scss,md})
