Repository milkbarsik/psycho-help: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

remove: remove profileIcon
  src/widgets/header/header.module.css
Due: prettier --write

feat: refactor header and add burger menu (#46)
  src/features/auth/modal/modal.module.css
  src/features/auth/modal/modal.tsx
  src/widgets/Burger.svg
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

Added scroll-to-top-button
  src/app/App.tsx
  src/shared/ui/back-to-top/BackToTop.module.scss
  src/shared/ui/back-to-top/BackToTop.tsx
  src/shared/ui/index.ts
Due: eslint --fix, prettier --write

fixing the footer on mobile
  src/widgets/footer/footer.module.css
Due: prettier --write

Added transition for buttons
  src/features/auth/modal/modal.module.css
  src/features/home/ui/1-greeting-block/greeting-block.module.css
  src/features/home/ui/3-features-block/features-block.module.css
  src/features/home/ui/5-calls-block/calls-block.module.css
  src/features/personal-cabinet/ui/personal-data/PersonalData.module.css
  src/pages/resources-page/entities/tests/Tests.module.scss
  src/widgets/header/header.module.css
Due: prettier --write

Added scroll-to-top-button (#47)
  src/app/App.tsx
  src/shared/ui/back-to-top/BackToTop.module.scss
  src/shared/ui/back-to-top/BackToTop.tsx
  src/shared/ui/index.ts
Due: eslint --fix, prettier --write

fix(var, edit): fix for editing personal data and using variables
  mok-server/api-router.js
  mok-server/routes/users.js
  mok-server/services/user.js
  src/features/auth/api/useAuth.ts
  src/features/personal-cabinet/ui/personal-data/PersonalData.module.scss
  src/features/personal-cabinet/ui/personal-data/PersonalData.tsx
Due: eslint --fix, prettier --write

Initial main page
  mok-server/services/db.js
  src/features/personal-cabinet/ui/appointment-card/AppointmentCard.tsx
  src/features/personal-cabinet/ui/appointment-card/appointment-card.module.scss
  src/features/personal-cabinet/ui/greeting-card/GreetingCard.tsx
  src/features/personal-cabinet/ui/greeting-card/greeting-card.module.scss
  src/features/personal-cabinet/ui/sidebar/Sidebar.tsx
  src/features/personal-cabinet/ui/sidebar/sidebar.module.scss
  src/pages/personal-cabinet/personal-cabinet.module.css
  src/pages/personal-cabinet/personal-cabinet.module.scss
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/shared/assets/images/cabinet/egor.png
Due: eslint --fix, prettier --write

feat: the Профиль section of your personal account, minor validation, accessibility
  mok-server/routes/users.js
  src/features/auth/api/auth-api.ts
  src/features/personal-cabinet/ui/personal-data/PersonalData.module.css
  src/features/personal-cabinet/ui/personal-data/PersonalData.module.scss
  src/features/personal-cabinet/ui/personal-data/PersonalData.tsx
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/shared/api/types.ts
  src/shared/assets/images/cabinet/edit.svg
  src/shared/assets/images/cabinet/exit.svg
Due: eslint --fix, prettier --write

Remove debug logs
  src/pages/personal-cabinet/personal-cabinet.tsx
Due: eslint --fix, prettier --write

1/2
  src/entities/appointment/AppointmentDto.ts
  src/entities/appointment/types/index.ts
  src/features/personal-cabinet/ui/input-block/AppointmentForm.module.css
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
  src/features/therapist/info-block/InfoBlock.module.css
  src/pages/personal-cabinet/personal-cabinet.module.scss
  src/pages/personal-cabinet/personal-cabinet.tsx
Due: eslint --fix, prettier --write

FullDesign
  src/features/personal-cabinet/ui/input-block/AppointmentForm.module.css
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
  src/shared/assets/images/appointments/arrow.svg
  src/shared/assets/images/appointments/backArrow.svg
Due: eslint --fix, prettier --write

Update personal data page with new backend changes
  .env.development
  mok-server/openapi.json
  mok-server/routes/users.js
  src/entities/auth/types/index.ts
  src/features/auth/api/auth-api.ts
  src/features/personal-cabinet/ui/personal-data/PersonalData.tsx
Due: eslint --fix, prettier --write

Fix border on interactive UI elements
  src/features/therapist/info-block/InfoBlock.module.css
  src/features/therapists/ui/title/Title.module.scss
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/shared/ui/button/Button.module.scss
  src/shared/ui/tabs/components/tab-item/TabItem.module.scss
Due: eslint --fix, prettier --write

Rewrite/personal cabinet (#50)
  .env.development
  mok-server/api-router.js
  mok-server/openapi.json
  mok-server/routes/users.js
  mok-server/services/db.js
  mok-server/services/user.js
  src/entities/appointment/AppointmentDto.ts
  src/entities/appointment/types/index.ts
  src/entities/auth/types/index.ts
  src/features/auth/api/auth-api.ts
  src/features/auth/api/useAuth.ts
  src/features/personal-cabinet/ui/appointment-card/AppointmentCard.tsx
  src/features/personal-cabinet/ui/appointment-card/appointment-card.module.scss
  src/features/personal-cabinet/ui/greeting-card/GreetingCard.tsx
  src/features/personal-cabinet/ui/greeting-card/greeting-card.module.scss
  src/features/personal-cabinet/ui/input-block/AppointmentForm.module.css
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
  src/features/personal-cabinet/ui/personal-data/PersonalData.module.css
  src/features/personal-cabinet/ui/personal-data/PersonalData.module.scss
  src/features/personal-cabinet/ui/personal-data/PersonalData.tsx
  src/features/personal-cabinet/ui/sidebar/Sidebar.tsx
  src/features/personal-cabinet/ui/sidebar/sidebar.module.scss
  src/features/therapist/info-block/InfoBlock.module.css
  src/features/therapists/ui/title/Title.module.scss
  src/pages/personal-cabinet/personal-cabinet.module.css
  src/pages/personal-cabinet/personal-cabinet.module.scss
  src/pages/personal-cabinet/personal-cabinet.tsx
  src/shared/api/types.ts
  src/shared/assets/images/appointments/arrow.svg
  src/shared/assets/images/appointments/backArrow.svg
  src/shared/assets/images/cabinet/edit.svg
  src/shared/assets/images/cabinet/egor.png
  src/shared/assets/images/cabinet/exit.svg
  src/shared/ui/button/Button.module.scss
  src/shared/ui/tabs/components/tab-item/TabItem.module.scss
Due: eslint --fix, prettier --write

feat: implement news page and api layer with tanstack query
  src/app/router/routes.ts
  src/entities/news/api/index.ts
  src/entities/news/api/useNews.ts
  src/entities/news/index.ts
  src/entities/news/types/index.ts
  src/pages/index.ts
  src/pages/news-page/components/news-card/NewsCard.module.css
  src/pages/news-page/components/news-card/news-card.tsx
  src/pages/news-page/components/news-grid/news-grid.module.css
  src/pages/news-page/components/news-grid/news-grid.tsx
  src/pages/news-page/components/telegram-banner/telegram-banner.module.css
  src/pages/news-page/components/telegram-banner/telegram-banner.tsx
  src/pages/news-page/index.ts
  src/pages/news-page/news-page.module.css
  src/pages/news-page/news-page.tsx
  src/shared/assets/images/news/arrow.svg
  src/shared/assets/images/news/psychologist_and_patient.svg
  src/shared/assets/images/news/telegram-icon.svg
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

Add .env.production to .gitignore && delete .env.production from deploy
  .gitignore
Due: none

Delete .env.production
  .env.production
Due: none

Add .env.production to .gitignore && delete .env.production from deploy (#51)
  .env.production
  .gitignore
Due: none

fixes
  src/entities/news/api/index.ts
  src/entities/news/api/useNews.ts
  src/entities/news/constants/mock-news.ts
  src/entities/news/index.ts
  src/pages/news-page/components/news-grid/news-grid.tsx
Due: eslint --fix, prettier --write

PhotoFix
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
Due: eslint --fix, prettier --write

Fix static photo (#53)
  src/features/personal-cabinet/ui/input-block/AppointmentForm.tsx
Due: eslint --fix, prettier --write

appointment-module
  src/app/context/index.ts
  src/app/context/provider.tsx
  src/app/provider/AuthModalProvider.tsx
  src/features/home/ui/1-greeting-block/greeting-block.module.css
  src/features/home/ui/1-greeting-block/greeting-block.tsx
  src/features/therapists/ui/title/index.tsx
  src/widgets/appointment-module/index.tsx
  src/widgets/appointment-module/styles/appointment-module.module.css
Due: eslint --fix, prettier --write

add post and delete method
  src/entities/news/api/index.ts
  src/entities/news/api/use-create-news.ts
  src/entities/news/index.ts
Due: eslint --fix, prettier --write

news
  mok-server/api-router.js
  mok-server/openapi.json
  mok-server/services/db.js
  src/app/router/routes.ts
  src/entities/news/api/queries.ts
  src/features/news/news-card/NewsCard.module.scss
  src/features/news/news-card/index.tsx
  src/features/news/news-list/NewsList.module.scss
  src/features/news/news-list/index.tsx
  src/pages/index.ts
  src/pages/news-item-page/NewsItemPage.module.scss
  src/pages/news-item-page/index.tsx
  src/pages/news-page/NewsPage.module.scss
  src/pages/news-page/index.tsx
  src/shared/api/types.ts
  src/shared/assets/images/news/items/1.jpg
  src/shared/assets/images/news/items/2.jpg
  src/shared/assets/images/news/items/3.jpg
  src/shared/assets/images/news/items/4.jpg
  src/shared/assets/images/news/items/5.jpg
  src/shared/assets/images/news/items/6.jpg
  src/shared/assets/images/news/items/7.jpg
  src/shared/assets/images/news/items/8.jpg
  src/shared/assets/images/news/items/9.jpg
  src/shared/assets/images/news/news-hero-image.png
  src/shared/assets/images/news/news-link.svg
  src/shared/assets/images/news/telegram-icon.svg
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

modal fix: custom checkbox, border fix, invalid input, transition, indents
  src/features/auth/modal/modal-login.module.css
  src/features/auth/modal/modal-login.tsx
  src/features/auth/modal/modal.module.css
Due: eslint --fix, prettier --write

fixed conflicts
  src/features/auth/modal/modal.module.css
Due: prettier --write

fixes
  src/pages/news-page/components/news-card/NewsCard.module.css
  src/pages/news-page/components/news-grid/news-grid.module.css
  src/pages/news-page/components/telegram-banner/telegram-banner.module.css
  src/pages/news-page/components/telegram-banner/telegram-banner.tsx
  src/pages/news-page/news-page.module.css
  src/pages/news-page/news-page.tsx
Due: eslint --fix, prettier --write

fixes
  src/pages/news-page/news-page.module.css
  src/pages/news-page/news-page.tsx
Due: eslint --fix, prettier --write

Fix blue out of place border
  src/features/auth/modal/modal.module.css
Due: prettier --write

Fix modal design (#56)
  src/features/auth/modal/modal-login.module.css
  src/features/auth/modal/modal-login.tsx
  src/features/auth/modal/modal.module.css
Due: eslint --fix, prettier --write

Added dark theme for home page and change theme button
  src/app/App.module.scss
  src/features/auth/modal/modal.module.css
  src/features/home/ui/1-greeting-block/greeting-block.module.css
  src/features/home/ui/3-features-block/features-block.module.css
  src/features/home/ui/5-calls-block/calls-block.module.css
  src/features/home/ui/chart-block/schedule-block.module.css
  src/features/home/ui/reasons-block/reasons-block.module.css
  src/pages/faq-page/faq-page.module.css
  src/shared/assets/images/footer/moon.svg
  src/shared/assets/images/footer/sun.svg
  src/shared/hooks/useTheme.ts
  src/widgets/footer/footer.module.css
  src/widgets/footer/footer.tsx
  src/widgets/header/Logo-dark.svg
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: eslint --fix, prettier --write

Added dark theme for doctors page
  src/features/therapists/ui/doctor-list/DoctorList.module.css
  src/features/therapists/ui/doctor/Doctor.module.css
  src/features/therapists/ui/title/Title.module.css
Due: prettier --write

Added dark them for useful materials
  src/app/App.module.scss
  src/pages/article-page/ArticlePage.module.scss
  src/pages/resources-page/ResourcesPage.module.scss
Due: prettier --write

Added dark theme for FAQ page
  src/features/faq/ui/question.module.css
  src/features/faq/ui/question.tsx
  src/pages/faq-page/faq-page.module.css
  src/shared/assets/images/main/question/button-dark.svg
Due: eslint --fix, prettier --write

fix text color in registration and header link hover
  src/features/auth/modal/modal.module.css
  src/widgets/header/header.module.css
Due: prettier --write

Added dark theme for articles, tests, polls
  src/features/auth/modal/modal.module.css
  src/pages/article-page/ArticlePage.module.scss
  src/pages/resources-page/components/article-card/ArticleCard.module.scss
  src/pages/resources-page/components/poll-card/PollCard.module.scss
  src/pages/resources-page/components/test-card/TestCard.module.scss
  src/pages/resources-page/entities/articles/Articles.module.scss
  src/pages/resources-page/entities/polls/Polls.module.scss
  src/pages/resources-page/entities/tests/Tests.module.scss
  src/pages/test-page/Test-page.module.scss
Due: prettier --write

Added dark theme for doctor page
  src/pages/doctor-page/Doctor-page.module.css
  src/widgets/header/header.module.css
Due: prettier --write

feat: add styles to the news page following the layout
  mok-server/openapi.json
  mok-server/services/db.js
  src/features/news/news-card/NewsCard.module.scss
  src/features/news/news-card/index.tsx
  src/features/news/news-list/NewsList.module.scss
  src/pages/news-item-page/NewsItemPage.module.scss
  src/pages/news-item-page/index.tsx
  src/pages/news-page/NewsPage.module.scss
  src/pages/news-page/index.tsx
  src/shared/api/types.ts
  src/shared/assets/images/news/chevron-left.svg
  src/shared/assets/images/news/items/1.jpg
  src/shared/assets/images/news/items/2.jpg
  src/shared/assets/images/news/items/3.jpg
  src/shared/assets/images/news/items/4.jpg
  src/shared/assets/images/news/items/5.jpg
  src/shared/assets/images/news/items/6.jpg
  src/shared/assets/images/news/items/7.jpg
  src/shared/assets/images/news/items/8.jpg
  src/shared/assets/images/news/items/9.jpg
Due: eslint --fix, prettier --write

fix(ui)!: resolve scrollbar overlapping page content
  src/app/App.module.scss
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,scss,md})
